.menu-navbar {
  background-color: rgba(255, 0, 0, 0);
}

.navbar-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo2 {
  flex-grow: 1;
}

header {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  position: fixed;
  z-index: 100;
}

header .logo {
  margin: 0;
  padding: 15px 10px;
  font-weight: bold;
  color: blueviolet;
  font-size: 1.6em;
}

@media (min-width: 850px) {
  header {
    position: fixed;
    width: 100%;
  }

  .menu-navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    justify-content: space-between;
    height: 50px;
  }
}
