#my-studies {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url("images/libros-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#my-studies h1 {
  margin: 0;
  color: white;
}

#my-studies p {
  color: white;
  max-width: 450px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  font-weight: lighter;
}

#my-studies .container {
  text-align: center;
  padding: 200x 12px;
}

@media (min-width: 850px) {

  #my-studies .container {
    display: flex;
    justify-content: space-evenly;
  }

  #my-studies .texto2 {
    width: 50%;
    max-width: 900px;
    text-align: initial;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #my-studies h2 {
    margin-top: 0px;
  }

  #my-studies p {
    font-size: 1.5em;
    max-width: 800px;
  }

  #my-studies .image-container {
    background-image: url("images/logo-ironhack.png");
    background-size: cover;
    background-position: center center;
    height: 500px;
    width: 400px;
  }
}
