* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

h1 {
  font-size: 3.5em;
}

h2 {
  font-size: 2.7em;
}

h3 {
  font-size: 2em;
}

p {
  font-size: 1.25em;
}

.container {
  max-width: 1400px;
  margin: auto;
}

header {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  position: fixed;
  z-index: 100;
}

.logo2 {
  flex-grow: 1;
}

header .logo {
  margin: 0;
  padding: 15px 10px;
  font-weight: bold;
  color: blueviolet;
  font-size: 1.6em;
}

.navbar-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menu-navbar {
  background-color: rgba(255, 0, 0, 0);
}


.menu {
  position: fixed;
  z-index: 1;
}

.menuButton {
  margin-left: 20px;
  display: flex;
  height: fit-content;
}

input[type="checkbox"] {
  width: 35px;
  height: 28px;
  margin: 0px;
  padding: 0px;
  opacity: 0;
}

.line {
  position: absolute;
  top: 0;
  width: 35px;
  height: 5px;
  background: #f0f2f4;
  transition: all 0.3s ease;
}
.line:nth-child(2) {
  top: 10px;
}
.line:nth-child(3) {
  top: 20px;
}
#menu:checked ~ .menu #line1 {
  top: 10px;
  transform: rotate(45deg);
}
#menu:checked ~ .menu #line2 {
  opacity: 0;
}
#menu:checked ~ .menu #line3 {
  top: 10px;
  transform: rotate(-45deg);
}

.showMenu {
  position: fixed;
  top: 40px;
  width: 100%;
  height: 100vh;
  background: #020303c4;
  transition: all 200ms;
  overflow: hidden;
  
  padding-right: 30px;
  padding-left: 30px;
}

ul button {
  list-style: none;
  padding: 16px;
  color: white;
  cursor: pointer;
  display: block;
  width: 400px;
}

.showMenu ul:hover {
  background: rgba(243, 238, 238, 0.837);
}

.hideMenu {
  position: fixed;
  padding-left: 0px;
  top: 40px;
  width: 0px;
  height: 100vh;
  background: #020303c4;
  transition: all 200ms;
  overflow: hidden;
}

.botton-burger {
  background-color: rgba(240, 248, 255, 0);
  border: none;
  color: black;
  width: 42px;
  height: 42px;
  padding-left: 8px;
  padding-top: 10px;
}

.button-nav {
  color: rgb(253, 253, 253);
  background-color: rgba(245, 245, 245, 0);
  border: none;
  padding-top: 5px;
  display: flex;
  justify-content: flex-start;
  font-size: 16px;
  font-weight: bold;
  padding-left: 0px;
}

.solid {
  border: 0.5px solid white;
  width: 100%;
}

.button-nav:hover {
  background-color: none;
  color: blueviolet;
}


.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 100vh;
  color: white;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("images/pakata.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.hero h1 {
  font-size: 3.5em;
  margin: 0;
}

.hero h5 {
  font-size: 1em;
  margin: 0;
  margin-top: 5px;
}

#about-me {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(30, 30, 30);
}

#about-me h1 {
  margin: 0;
  color: white;
}

#about-me p {
  max-width: 450px;
  color: white;
  margin: 0px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  font-weight: lighter;
}

#about-me .container {
  text-align: center;
  padding: 200x 12px;
}

#my-studies {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url("images/libros-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#my-studies h1 {
  margin: 0;
  color: white;
}

#my-studies p {
  color: white;
  max-width: 450px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  font-weight: lighter;
}

#my-studies .container {
  text-align: center;
  padding: 200x 12px;
}

#my-project {
  background-color: rgb(30, 30, 30);
  color: white;
  text-align: center;
}

#my-project .container {
  padding: 100px 0px;
}

#my-project h2 {
  color: white;
  margin: 0;
}

#my-project p {
  display: none;
}






footer {
  background-color: rgb(230, 230, 230);
}

footer p {
  margin: 0;
  padding: 12px;
  color: rgb(100, 100, 100);
}

footer .container {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 850px) {
  header {
    position: fixed;
    width: 100%;
  }

  .menu-navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    justify-content: space-between;
    height: 50px;
  }

  .button-nav {
    font-size: 1em;
    font-weight: bold;
    border: none;
    box-shadow: none;
    text-decoration: none;
    font-weight: bold;
    color: rgb(245, 241, 241);
    background-color: rgba(255, 0, 0, 0);
    width: auto;
    display: flex;
    padding: 10px;
  
  }

  .menuLarge {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-grow: 2;
  }



  .line {
    display: none;
  }

  .solid {
    display: none;
  }

  .hero h1 {
    font-size: 6em;
    margin: 0;
  }

  .hero h5 {
    font-size: 1.5em;
  }

  #about-me .container {
    display: flex;
    justify-content: space-evenly;
  }

  #about-me .texto {
    width: 50%;
    max-width: 700px;
    text-align: initial;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #about-me h2 {
    margin-top: 0px;
  }

  #about-me p {
    font-size: 1.5em;
    max-width: 600px;
  }

  #about-me .img-container {
    background-image: url("images/sticker.webp");
    background-size: cover;
    background-position: center center;
    height: 400px;
    width: 400px;
    border-radius: 100%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  }

  #my-studies .container {
    display: flex;
    justify-content: space-evenly;
  }

  #my-studies .texto2 {
    width: 50%;
    max-width: 900px;
    text-align: initial;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #my-studies h2 {
    margin-top: 0px;
  }

  #my-studies p {
    font-size: 1.5em;
    max-width: 800px;
  }

  #my-studies .image-container {
    background-image: url("images/logo-ironhack.png");
    background-size: cover;
    background-position: center center;
    height: 500px;
    width: 400px;
  }

  #my-project .project {
    display: flex;
    flex-wrap: wrap;
  }

  #my-project h2 {
    font-size: 4em;
    padding-bottom: 50px;
  }

  #my-project h3 {
    margin-top: 0;
  }

  footer .container {
    justify-content: center;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1700px;
    margin: auto;
  }
}
